body
{
	padding: 0px;	
	width: 100%;
	margin: 0;
	background-size: cover;
	background-image: url('http://jootix.ir/wp-content/uploads/2014/12/jootix.ir--997263036.jpg');
	background-repeat: no-repeat;
	width:100%;
	height:100%;		
}
.field
{
	//position:relative;
	top:250px;
	left:25%;	
	width: 50%;
	height: 400px;
	background-color: #e6eeec;	
	border-radius: 10px;
	border:1px solid #9a95ad;
}
