body
{
	padding: 0px;	
	width: 100%;
	margin: 0;
	background-size: cover;
	background-image: url('http://jootix.ir/wp-content/uploads/2014/12/jootix.ir--997263036.jpg');
	background-repeat: no-repeat;
	width:100%;
	height:100%;		
}
.field
{
	position:absolute;
	top:70px;
	left:25%;	
	width: 50%;
	height: 500px;
	background-color: #e6eeec;	
	border-radius: 10px;
	border:3px solid #9a95ad;
}
.pre_box
{	
	display: inline-block;
}
.bordered
{
	border:1px solid black;
}
.line
{
	border:1px solid black;
	position:relative;
	top:47%;
}
.box
{
	width:100%;
	display:block;
	height:49%;
}